<div class="edit-page">

    <mat-accordion>
        <div class="page-content">
            <div class="row">
                <div class="col col-md-4">
                    <img class="img-avatar" [src]="item.avatar">
                    <button mat-stroked-button class="change-img-button" color="primary" (click)="openDialog()">Change
                        Avatar
                    </button>
                </div>

                <mat-expansion-panel style="width: 100%; margin-top: 10px" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Kampania</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col col-md-8 col-sm-12">

                        <form class="edit-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)"
                              (keydown.enter)="$event.preventDefault()">

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Mistrz gry" class="form-control"
                                           formControlName="game_master">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Kampania" class="form-control"
                                           formControlName="campaign">
                                </mat-form-field>
                            </div>

                        </form>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Informacje podstawowe</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col col-md-8 col-sm-12">

                        <form class="edit-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)">

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Name" class="form-control" formControlName="name">
                                </mat-form-field>
                                <!--    <ng-container *ngFor="let validation of validation_messages.name">
                                      <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
                                    </ng-container>-->
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Race" class="form-control" formControlName="race">
                                </mat-form-field>
                                <!--<ng-container *ngFor="let validation of validation_messages.race">
                                  <mat-error *ngIf="exampleForm.get('race').hasError(validation.type) && (exampleForm.get('race').dirty || exampleForm.get('race').touched)">{{validation.message}}</mat-error>
                                </ng-container>-->
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Profesja" class="form-control"
                                           formControlName="profession">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Poprzednia profesja" class="form-control"
                                           formControlName="previous_profession">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Płeć" class="form-control" formControlName="gender">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput type="number" placeholder="Wiek" class="form-control"
                                           formControlName="age">
                                </mat-form-field>
                                <!-- <ng-container *ngFor="let validation of validation_messages.age">
                                   <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
                                 </ng-container>-->
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput type="number" placeholder="Wzrost" class="form-control"
                                           formControlName="height">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput type="number" placeholder="Waga" class="form-control"
                                           formControlName="weight">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Kolor oczu" class="form-control"
                                           formControlName="eyes">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Kolor włosyów i uczesanie" class="form-control"
                                           formControlName="hair">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Znak gwiezdny" class="form-control"
                                           formControlName="star_sign">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Znaki szczególne" class="form-control"
                                           formControlName="marks">
                                </mat-form-field>
                            </div>

                        </form>
                    </div>

                </mat-expansion-panel>


                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Informacje Dodatkowe</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col col-md-8 col-sm-12">

                        <form class="edit-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)"
                              (keydown.enter)="$event.preventDefault()">

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Pochodzenie" class="form-control"
                                           formControlName="birthplace">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Rodzina" class="form-control" formControlName="family">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Pozycja społeczna" class="form-control"
                                           formControlName="social_status">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Kim wcześniej był bohater" class="form-control"
                                           formControlName="past">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Dlaczego wyruszył na szlak" class="form-control"
                                           formControlName="motivation">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput type="number" placeholder="Komu służy" class="form-control"
                                           formControlName="serves">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput type="number" placeholder="Przyjaciele" class="form-control"
                                           formControlName="friends">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput type="number" placeholder="Wrogowie" class="form-control"
                                           formControlName="foes">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Co lubi" class="form-control" formControlName="likes">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Czego nie lubi" class="form-control"
                                           formControlName="dislikes">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Osobowość i zachowania" class="form-control"
                                           formControlName="personality">
                                </mat-form-field>
                            </div>

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Motywacje i cele." class="form-control"
                                           formControlName="goals">
                                </mat-form-field>
                            </div>

                        </form>
                    </div>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Ekwipunek</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col col-md-8 col-sm-12">

                        <form class="edit-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)"
                              (keydown.enter)="$event.preventDefault()">


                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Przedmioty" class="form-control"
                                           (keyup.enter)="addWealth($event.target.value, wealthInput)" #wealthInput>
                                </mat-form-field>
                            </div>

                            <table mat-table [dataSource]="dataSource" class="wealthTable">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef>Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element}}</td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ion-icon id="deleteIcon" name="trash"
                                                  (click)="remove(element)"
                                        >
                                        </ion-icon>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons
                                           #uploadResultPaginatorWealth></mat-paginator>
                        </form>
                    </div>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Statystyki</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="col col-md-8">
                        <form class="create-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)"
                              (keydown.enter)="$event.preventDefault()">

                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Walka wręcz - WW
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="melee1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="melee2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="melee3">
                                        </mat-form-field>
                                    </div>

                                </mat-expansion-panel>
                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Umiejętności strzeleckie - US
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="range1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="range2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="range3">
                                        </mat-form-field>
                                    </div>

                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Krzepa - K
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="strength1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="strength2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="strength3">
                                        </mat-form-field>
                                    </div>

                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Odporność - Odp
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="toughness1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="toughness2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="toughness3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Zręczność - Zr
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="agility1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="agility2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="agility3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Inteligencja - Int
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="intelligence1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="intelligence2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="intelligence3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Siła woli - Sw
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="will_power1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="will_power2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="will_power3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Ogłada - Ogd
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="fellowship1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="fellowship2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="fellowship3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Ataki - A
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="attacks1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="attacks2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="attacks3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Żywotność - Żyw
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="wounds1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="wounds2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="wounds3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Szybkość - Sz
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="movement1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="movement2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="movement3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Magia - Mag
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="magic1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="magic2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="magic3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Punkty obłędu - PO
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="instability1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="instability2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="instability3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                                <mat-expansion-panel (opened)="panelOpenState = true"
                                                     (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Punkty przeznaczenia - PO
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Początkowo" class="form-control"
                                                   formControlName="fortune1">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Schemat rozwoju" class="form-control"
                                                   formControlName="fortune2">
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Aktualnie" class="form-control"
                                                   formControlName="fortune3">
                                        </mat-form-field>
                                    </div>
                                </mat-expansion-panel>

                            </mat-accordion>

                        </form>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%;"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Umiejętności</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="col col-lg-6 col-md-8 col-sm-12">

                        <form class="edit-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)">

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Dowodzenie</label>
                                <input type="radio" formControlName="command" value="1" class="abilitiesInput"
                                       [checked]="abbControl.commandW">W
                                <input type="radio" formControlName="command" value="2" class="abilitiesInput"
                                       [checked]="abbControl.command10">+10
                                <input type="radio" formControlName="command" value="3" class="abilitiesInput"
                                       [checked]="abbControl.command20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Hazard</label>
                                <input type="radio" formControlName="gamble" value="1" class="abilitiesInput"
                                       [checked]="abbControl.gambleW">W
                                <input type="radio" formControlName="gamble" value="2" class="abilitiesInput"
                                       [checked]="abbControl.gamble10">+10
                                <input type="radio" formControlName="gamble" value="3" class="abilitiesInput"
                                       [checked]="abbControl.gamble20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Jeździectwo</label>
                                <input type="radio" formControlName="ride" value="1" class="abilitiesInput"
                                       [checked]="abbControl.rideW">W
                                <input type="radio" formControlName="ride" value="2" class="abilitiesInput"
                                       [checked]="abbControl.ride10">+10
                                <input type="radio" formControlName="ride" value="3" class="abilitiesInput"
                                       [checked]="abbControl.ride20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Mocna głowa</label>
                                <input type="radio" formControlName="drinking" value="1" class="abilitiesInput"
                                       [checked]="abbControl.drinkingW">W
                                <input type="radio" formControlName="drinking" value="2" class="abilitiesInput"
                                       [checked]="abbControl.drinking10">+10
                                <input type="radio" formControlName="drinking" value="3" class="abilitiesInput"
                                       [checked]="abbControl.drinking20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Ręka do zwierząt</label>
                                <input type="radio" formControlName="animals" value="1" class="abilitiesInput"
                                       [checked]="abbControl.animalsW">W
                                <input type="radio" formControlName="animals" value="2" class="abilitiesInput"
                                       [checked]="abbControl.animals10">+10
                                <input type="radio" formControlName="animals" value="3" class="abilitiesInput"
                                       [checked]="abbControl.animals20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Plotkowanie</label>
                                <input type="radio" formControlName="gossip" value="1" class="abilitiesInput"
                                       [checked]="abbControl.gossipW">W
                                <input type="radio" formControlName="gossip" value="2" class="abilitiesInput"
                                       [checked]="abbControl.gossip10">+10
                                <input type="radio" formControlName="gossip" value="3" class="abilitiesInput"
                                       [checked]="abbControl.gossip20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Pływanie</label>
                                <input type="radio" formControlName="swim" value="1" class="abilitiesInput"
                                       [checked]="abbControl.swimW">W
                                <input type="radio" formControlName="swim" value="2" class="abilitiesInput"
                                       [checked]="abbControl.swim10">+10
                                <input type="radio" formControlName="swim" value="3" class="abilitiesInput"
                                       [checked]="abbControl.swim20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Powożenia</label>
                                <input type="radio" formControlName="drive" value="1" class="abilitiesInput"
                                       [checked]="abbControl.driveW">W
                                <input type="radio" formControlName="drive" value="2" class="abilitiesInput"
                                       [checked]="abbControl.drive10">+10
                                <input type="radio" formControlName="drive" value="3" class="abilitiesInput"
                                       [checked]="abbControl.drive20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Przekonywanie</label>
                                <input type="radio" formControlName="charm" value="1" class="abilitiesInput"
                                       [checked]="abbControl.charmW">W
                                <input type="radio" formControlName="charm" value="2" class="abilitiesInput"
                                       [checked]="abbControl.charm10">+10
                                <input type="radio" formControlName="charm" value="3" class="abilitiesInput"
                                       [checked]="abbControl.charm20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Przeszukiwanie</label>
                                <input type="radio" formControlName="search" value="1" class="abilitiesInput"
                                       [checked]="abbControl.searchW">W
                                <input type="radio" formControlName="search" value="2" class="abilitiesInput"
                                       [checked]="abbControl.search10">+10
                                <input type="radio" formControlName="search" value="3" class="abilitiesInput"
                                       [checked]="abbControl.search20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Skradaie się</label>
                                <input type="radio" formControlName="creep" value="1" class="abilitiesInput"
                                       [checked]="abbControl.creepW">W
                                <input type="radio" formControlName="creep" value="2" class="abilitiesInput"
                                       [checked]="abbControl.creep10">+10
                                <input type="radio" formControlName="creep" value="3" class="abilitiesInput"
                                       [checked]="abbControl.creep20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Spostrzegawczość</label>
                                <input type="radio" formControlName="perception" value="1" class="abilitiesInput"
                                       [checked]="abbControl.perceptionW">W
                                <input type="radio" formControlName="perception" value="2" class="abilitiesInput"
                                       [checked]="abbControl.perception10">+10
                                <input type="radio" formControlName="perception" value="3" class="abilitiesInput"
                                       [checked]="abbControl.perception20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Sztuka przetrwania</label>
                                <input type="radio" formControlName="survival" value="1" class="abilitiesInput"
                                       [checked]="abbControl.survivalW">W
                                <input type="radio" formControlName="survival" value="2" class="abilitiesInput"
                                       [checked]="abbControl.survival10">+10
                                <input type="radio" formControlName="survival" value="3" class="abilitiesInput"
                                       [checked]="abbControl.survival20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Tagowanie się</label>
                                <input type="radio" formControlName="haggle" value="1" class="abilitiesInput"
                                       [checked]="abbControl.haggleW">W
                                <input type="radio" formControlName="haggle" value="2" class="abilitiesInput"
                                       [checked]="abbControl.haggle10">+10
                                <input type="radio" formControlName="haggle" value="3" class="abilitiesInput"
                                       [checked]="abbControl.haggle20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Ukrywanie się</label>
                                <input type="radio" formControlName="hiding" value="1" class="abilitiesInput"
                                       [checked]="abbControl.hidingW">W
                                <input type="radio" formControlName="hiding" value="2" class="abilitiesInput"
                                       [checked]="abbControl.hiding10">+10
                                <input type="radio" formControlName="hiding" value="3" class="abilitiesInput"
                                       [checked]="abbControl.hiding20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Wioślarstwo</label>
                                <input type="radio" formControlName="rowing" value="1" class="abilitiesInput"
                                       [checked]="abbControl.rowingW">W
                                <input type="radio" formControlName="rowing" value="2" class="abilitiesInput"
                                       [checked]="abbControl.rowing10">+10
                                <input type="radio" formControlName="rowing" value="3" class="abilitiesInput"
                                       [checked]="abbControl.rowing20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Wspinaczka</label>
                                <input type="radio" formControlName="climbing" value="1" class="abilitiesInput"
                                       [checked]="abbControl.climbingW">W
                                <input type="radio" formControlName="climbing" value="2" class="abilitiesInput"
                                       [checked]="abbControl.climbing10">+10
                                <input type="radio" formControlName="climbing" value="3" class="abilitiesInput"
                                       [checked]="abbControl.climbing20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Wycena</label>
                                <input type="radio" formControlName="evaluate" value="1" class="abilitiesInput"
                                       [checked]="abbControl.evaluateW">W
                                <input type="radio" formControlName="evaluate" value="2" class="abilitiesInput"
                                       [checked]="abbControl.evaluate10">+10
                                <input type="radio" formControlName="evaluate" value="3" class="abilitiesInput"
                                       [checked]="abbControl.evaluate20">+20
                            </mat-radio-group>

                            <mat-radio-group aria-label="example-radio-group-label" class="form-control hControl">
                                <label class="col-lg-5  col-md-6 col-sm-7">Zastraszanie</label>
                                <input type="radio" formControlName="intimidation" value="1" class="abilitiesInput"
                                       [checked]="abbControl.intimidationW">W
                                <input type="radio" formControlName="intimidation" value="2" class="abilitiesInput"
                                       [checked]="abbControl.intimidation10">+10
                                <input type="radio" formControlName="intimidation" value="3" class="abilitiesInput"
                                       [checked]="abbControl.intimidation20">+20
                            </mat-radio-group>

                        </form>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Rany</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="col col-md-8">
                        <form class="create-form" [formGroup]="exampleForm" novalidate
                              (ngSubmit)="onSubmit(exampleForm.value)"
                              (keydown.enter)="$event.preventDefault()">

                            <div class="form-group">
                                <mat-form-field class="input-style">
                                    <input matInput placeholder="Rany" class="form-control"
                                           (keyup.enter)="addDamage($event.target.value, damageInput)" #damageInput>
                                </mat-form-field>
                            </div>

                            <table mat-table [dataSource]="damageData" class="wealthTable">
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element}}</td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element">
                                        <ion-icon id="deleteIcon" name="trash"
                                                  (click)="removeDamage(element)"
                                        >
                                        </ion-icon>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[4]" showFirstLastButtons
                                           #uploadResultPaginatorDamage></mat-paginator>
                        </form>
                    </div>

                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Uzbrojenie</mat-panel-title>
                    </mat-expansion-panel-header>
                    <form class="create-form" [formGroup]="exampleForm" novalidate
                          (ngSubmit)="onSubmit(exampleForm.value)"
                          (keydown.enter)="$event.preventDefault()">
                        <mat-accordion>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Broń 1</mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control"
                                                   formControlName="weapon1Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="weapon1Dmg">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Minimalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon1MinRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Maksymalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon1MaxRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Przeładowanie"
                                                   class="form-control"
                                                   formControlName="weapon1Overload">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Cechy" class="form-control"
                                                   formControlName="weapon1Quality">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Broń 2
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control"
                                                   formControlName="weapon2Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="weapon2Dmg">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Minimalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon2MinRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Maksymalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon2MaxRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Przeładowanie"
                                                   class="form-control"
                                                   formControlName="weapon2Overload">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Cechy" class="form-control"
                                                   formControlName="weapon2Quality">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Broń 3
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control"
                                                   formControlName="weapon3Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="weapon3Dmg">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Minimalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon3MinRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Maksymalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon3MaxRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Przeładowanie"
                                                   class="form-control"
                                                   formControlName="weapon3Overload">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Cechy" class="form-control"
                                                   formControlName="weapon3Quality">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Broń 4
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control"
                                                   formControlName="weapon4Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="weapon4Dmg">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Minimalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon4MinRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Maksymalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon4MaxRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Przeładowanie"
                                                   class="form-control"
                                                   formControlName="weapon4Overload">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Cechy" class="form-control"
                                                   formControlName="weapon4Quality">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Broń 5
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control"
                                                   formControlName="weapon5Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="weapon5Dmg">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Minimalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon5MinRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Maksymalny zasięg"
                                                   class="form-control"
                                                   formControlName="weapon5MaxRange">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Przeładowanie"
                                                   class="form-control"
                                                   formControlName="weapon5Overload">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Cechy" class="form-control"
                                                   formControlName="weapon5Quality">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </form>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     style="width: 100%"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>Pancerz</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                        <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)"
                              (keydown.enter)="$event.preventDefault()">
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Pancerz 1</mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control" formControlName="armor1Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="armor1Credit">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Pancerz 2</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control" formControlName="armor2Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="armor2Credit">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Pancerz 3
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control" formControlName="armor3Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="armor3Credit">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Pancerz 4
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control" formControlName="armor4Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="armor4Credit">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false"
                                                 style="width: 100%"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Pancerz 5
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="col col-md-8">

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input matInput placeholder="Nazwa" class="form-control" formControlName="armor5Name">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group">
                                        <mat-form-field class="input-style">
                                            <input type="number" matInput placeholder="Obrażenia" class="form-control"
                                                   formControlName="armor5Credit">
                                        </mat-form-field>
                                    </div>

                                </div>
                            </mat-expansion-panel>
                        </form>
                    </mat-accordion>
                </mat-expansion-panel>


                <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

                    <div class="row submit-button-container">
                        <div class="col-md-4">
                            <button mat-raised-button class="submit-button" color="primary" type="submit"
                                    [disabled]="!exampleForm.valid">Save
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button mat-raised-button class="delete-button" color="warn" type="button"
                                    (click)="delete()">
                                Delete
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </mat-accordion>
</div>
