.imgControl{
  border-radius: 50%;
  width: 150px;
  display: block;
  margin: 20px auto;
}

#deleteIcon{
  color: red;
  cursor: pointer;
}

table {
  width: 320px;
}


@media only screen and(max-width: 580px) {
  .hControl {
    height: 10vh!important;
    text-align: center;
  }

}
