<div class="navControl">
	<div class="side-bar" *ngIf="user.uid | async as uid; else login">
		<ul class="nav flex-row">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">
          <ion-icon name="home"></ion-icon>
        </a>
      </li>
	  	<li class="nav-item">
	    	<a class="nav-link active" routerLink="cards">
					<ion-icon name="list"></ion-icon>
				</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="new-user">
					<ion-icon name="add"></ion-icon>
				</a>
	  	</li>
      <li class="nav-item" align="after">
        <button  class="buttonControl" (click)="user.logout()">Wyloguj</button>
      </li>
		</ul>
	</div>
</div>

  <ng-template #login>
    <div class="side-bar">
      <ul class="nav flex-row">
        <li class="nav-item">
          <a class="nav-link active" routerLink="home">
            <ion-icon name="home"></ion-icon>
          </a>
        </li>
        <li class="nav-item">
          <button class="buttonControl" (click)="user.login()">Zaloguj</button>
        </li>
      </ul>
    </div>
  </ng-template>


	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>


<style>
  .buttonControl{
    background-color: #252223;
    color: white;
    margin-top: 5%;
    border: none;
    font-size: 1rem;
  }
  .navControl{
    background-color: #252223;
    height: 5vh;
  }
  .navControl a{
    color: white;
  }
</style>
